# .env
MYSQL_DATABASE=ems
MYSQL_ROOT_PASSWORD=YourPassword

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/ems
SPRING_DATASOURCE_USERNAME=IF_ADMIN_PROVIDE_ROOTUSER_NAME
SPRING_DATASOURCE_PASSWORD=YourPassword

FRONTEND_URL=http://localhost:3000