# Java / Maven
backend/Springbt-restapi/target
backend/Springbt-restapi/.mvn/
backend/Springbt-restapi/*.class
backend/Springbt-restapi/.env

# Node / React
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local

# IDE
.idea/
.vscode/
*.iml
.DS_Store